
/* #table-body {
    border: 5px solid #212121;

} */

h1 {
    color: saddlebrown;
    font-size: 70pt;
    text-shadow: 1px 1px black;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    position: relative;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 10px 10px 10px 10px;
    overflow: left;
    text-align: left;
}

section div  {
    border: 5px solid #212121;
    margin: 10px 10px 10px 10px;
    padding: 0px 50px 50px 20px;
    float: left;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

li {
    padding: 2px 5px 5px 10px;
    display: list-item;
    text-align: left;

}


td {
    border: 5px solid #212121;
    padding: 10px 10px 10px 10px;


}